      <h1>$band.getName()'s Venues:</h1>

      <ul>
        #foreach($venue in $venues)
         <li>$venue.getName()</li>
        #end
      </ul>

      <a href="/stylists/$stylist.getId()/venues/new">Add a new venue</a>
      <a href="/">All stylists</a>
