<h1>Update $band</h1>

<p>Edit $band details here:</p>

<form action="/" method="post">

  <div class="form-group">
    <label for="name">Band:</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit" class="btn btn-success">Add Band</button>
</form>
